# Ruff configuration
# This file is auto-discovered by Ruff.

exclude = [
    ".git",
    ".git-rewrite",
    ".ipynb_checkpoints",
    ".pyenv",
    ".pytest_cache",
    ".pytype",
    ".ruff_cache",
    ".venv",
    ".vscode",
    "__pypackages__",
    "_build",
    "build",
    "dist",
    "site-packages",
    "venv",
    "docs/conf.py",
]

line-length = 120
indent-width = 4
target-version = "py311"

[lint]
select = ["E", "F", "I", "TCH"]
fixable = ["ALL"]
unfixable = []

[lint.isort]
split-on-trailing-comma = false

[lint.per-file-ignores]
"benchmarks/*" = []
"tests/*" = []

[lint.flake8-annotations]
suppress-dummy-args = true
suppress-none-returning = true

[format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = true
line-ending = "auto"
docstring-code-format = true
docstring-code-line-length = "dynamic"
